
h1 {text-align: center;}

h1{border: solid 6PX rgb(5, 134, 211);}

#james {width: 25%;
}
#james {border: solid 9PX rgb(86, 3, 97);}
#james {margin-left: 30%;}
#jamess {border: solid 9PX rgb(207, 112, 3);}
#jamess {margin-left: 50%;}

#jamesss {margin-left: 60%;}

h2 {text-align: center;}

h3 {text-align: right;}
H3 {color: rgb(94, 255, 0);}

h4 {text-align: center;}

h4 {font-size: 300%;}

H4 {color: rgb(73, 0, 92);}

h1 {font-size: 300%;}

h5 {text-align: center;}

H5 {color: red;}
h5 {border:  9PX rgb(11, 0, 12);}
h5 {font-size: 200%;}

h6 {font-size: 200%;}
H6 {color: rgb(138, 135, 0);}
h6 {text-align: left;}

h7 {font-size: 200%;}
h8 {font-size: 200%;}

